body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 14px;
  font-family: sans-serif;
  background-image: url("../../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.link-tag{
  text-decoration: none;
}

.right-sidebar{
  padding: 0;
}
.left-sidebar{
  background-color: transparent;
}